
a.login:link, a.login:visited {
  border: 2px solid darkgray;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


a.login:hover, a.login:active {
  background-color: darkgray;
}


