
a {
  border: 2px solid #4CAF50;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


a:hover, a:active {
  background-color: #4CAF50;
}


