
a.login:link, a.login:visited {
  border: 2px solid #4CAF50;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


a.login:hover, a.login:active {
  background-color: #4CAF50;
}


